.message-box {
    height: 500px;
    color: wheat;
    background: #00000061;
    padding: 15px;
    margin-top: 3rem;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.sender {
    padding: 15px;
    background: #5e5e5e42;
    border-radius: 1px 10px 10px 30px;
    font-size: 18px;
    color: #ffdb58;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.sender::before {
    content: "•";
    color: rgb(21, 214, 63);
    font-size: 24px;
    margin-right: 10px;
}

.receiver {
    padding: 15px;
    margin-left: 10px;
    background: #5e5e5e42;
    border-radius: 1px 10px 10px 30px;
    font-size: 18px;
    color: #ffdb58;
    width: 95%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.receiver::before {
    content: "•";
    margin-right: 10px;
    color: rgb(0, 116, 248);
    font-size: 24px;
}

.player-name {
    color: rgb(21, 214, 63);
    margin-right: 5px;
}

.iframe {
    height: 540px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    margin-top: 8rem;
}

.modal-join {
    display: block;
    background: #70231285;
}

.room-info {
    width: 35%;
    background: #5a564fba;
}

.watchers {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    padding: 13px;
    color: black;
}

.watchers svg {
    margin-right: 5px;
}