<div class="container">
    <div class="header mt-4">
        <h1>Chess Game</h1>
    </div>
    <div class="row childs">
        <div class="col-6">
            <div class="iframe-container">
                <iframe src="http://localhost:4200/iframepage?revers=true" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-6">
            <div class="iframe-container">
                <iframe class="rotate" src="http://localhost:4200/iframepage?revers=false" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>