body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/assets/background.png');
    background-size: cover;
    /* background-color: #484848 */
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

/* iframe {
    border: 1px solid #f5f5f5;
    height: 562px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.app-root {
    width: 100%;
}

app-board {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

app-button {
    width: 100%;
    display: flex;
}

app-input {
    width: 50%;
    margin: 0 auto;
}

.action-btn {
    background: #FFDB58;
    width: 50%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 18px;
    color: black;
    transition: .3s;
}

.action-btn:focus,
.action-btn:hover {
    color: white;
    background-color: transparent;
    border-color: #FFDB58;
    transition: .3s;
    outline: none;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
    color: #fff;
}

.w-80 {
    width: 80% !important;
    margin-left: 5px !important;
}